<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>AirSense AI</title>

<link rel="stylesheet"
th:href="@{/style.css}">

<script src=
"https://cdn.jsdelivr.net/npm/chart.js">
</script>

</head>

<body>

<!-- PARTICLES -->

<div id="particles"></div>


<!-- EMERGENCY OVERLAY -->

<div id="emergencyOverlay">

<h1>🚨 EMERGENCY ALERT 🚨</h1>

<h2>Dangerous Air Quality Detected</h2>

<p>Evacuate Area Immediately</p>

</div>



<!-- MAIN CONTAINER -->

<div class="dashboard">


<!-- HEADER -->

<div class="header">

<div>

<h1>AirSense AI</h1>

<p>Smart Environmental Monitoring System</p>

</div>

<div class="clock"
id="clock">

Loading...

</div>

</div>




<!-- SENSOR CARDS -->

<div class="cards">


<div class="card temp">

<h2>🌡 Temperature</h2>

<h1 id="temp"
th:text="${WeatherTest.temp}">

0

</h1>

<p>°C</p>

</div>



<div class="card hum">

<h2>💧 Humidity</h2>

<h1 id="hum"
th:text="${WeatherTest.hum}">

0

</h1>

<p>%</p>

</div>



<div class="card gas">

<h2>💨 AQI</h2>

<h1 id="gas"
th:text="${WeatherTest.gas}">

0

</h1>

<p>ppm</p>

</div>

</div>





<!-- STATUS -->

<div class="status-grid">


<div class="status-card">

<h3>Air Quality</h3>

<p id="aqiText">

Checking...

</p>

</div>



<div class="status-card">

<h3>AI Prediction</h3>

<p id="prediction">

Analyzing...

</p>

</div>



<div class="status-card">

<h3>Health Advice</h3>

<p id="health">

Analyzing...

</p>

</div>



<div class="status-card">

	<div id="sensorStatus">
	    <div class="sensor-item"> 
	        <span id="dhtStatus"> 🟢 DHT11 Connected </span> 
	    </div>
	    <div class="sensor-item"> 
	        <span id="mqStatus"> 🟢 MQ135 Connected </span> 
	    </div>
	</div>

</div>

</div>





<!-- AQI RING -->

<div class="ring-section">

<div class="ring">

<div class="ring-inner">

<h1 id="ringValue">

0

</h1>

<p>AQI</p>

</div>

</div>

</div>





<!-- CHART -->

<div class="chart-container">

<canvas id="airChart"></canvas>

</div>


<div class="chart-box"> 
	<h2> 📊 Weekly AQI Analytics </h2> 
	<canvas id="weeklyChart"> </canvas> 
</div> 
<div class="status-card"> 
	<h3> 🧠 Weekly AI Pollution Analysis </h3> 
	<p id="weeklyAnalysis"> Analyzing weekly air quality... </p> 
</div>



</div>




<!-- SCRIPT -->

<script th:src="@{/script.js}"></script>

</body>

</html>