body{
#pollutionSource,
#sensorHealth,
#weatherInfo{
margin-top:20px;
padding:15px;
border-radius:15px;
font-size:22px;
font-weight:bold;
}

.safe{
background:green;
}

.warning{
background:orange;
}

.danger{
background:red;
animation:blink 1s infinite;
}

@keyframes blink{
50%{
opacity:0.5;
}
}

.gauge{
width:220px;
height:220px;
border-radius:50%;
margin:auto;
background:conic-gradient(green 0deg, red 0deg);
display:flex;
align-items:center;
justify-content:center;
}

.gauge-cover{
width:160px;
height:160px;
border-radius:50%;
background:#0f172a;
display:flex;
align-items:center;
justify-content:center;
font-size:35px;
}

.notification-box{
display:none;
margin-top:20px;
padding:20px;
background:red;
border-radius:20px;
font-size:30px;
font-weight:bold;
}

.particles{
position:fixed;
width:100%;
height:100%;
background-image:radial-gradient(circle,rgba(255,255,255,0.15) 1px,transparent 1px);
background-size:25px 25px;
z-index:-1;
animation:moveParticles 20s linear infinite;
}

@keyframes moveParticles{
0%{transform:translateY(0px);}
100%{transform:translateY(-100px);}
}

@media(max-width:768px){
.cards{
flex-direction:column;
align-items:center;
}

.card{
width:90%;
}
}